{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Reset Password
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div> -->

<div class="col-md-8">



    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Reset Password
                </legend>


                <div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
                        Your Email<span class="asteriskField">*</span> </label>
                    <div class=""> <input type="email" name="email" autocomplete="email" maxlength="254"
                            class="emailinput form-control" required="" id="id_email"> </div>
                </div>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>


</div>


{% endblock content %}