{% extends 'blog/base.html' %}

{% block content %}

<div style="background-color: rgb(255, 0, 0); color: cornsilk;" class="btn btn-outline-dark mb-3">
    NOTE:
</div>


<div>

    <div class="alert alert-primary" role="alert">
        <li style="color: yellow; background-color: black;">
            I've worked in Lahore, Service, Dubai based Software House
        </li>
        <li style="color: red; background-color: rgba(240, 252, 128, 0.432);">
            <strong>Having 6 Months Experience <strong>Till DATE: </strong>09/Aug/2021 </strong>
        </li>
        <li>
            Kindly, Explore the whole project, for having a better understanding of my work
        </li>

        <li style="color: yellow; background-color: black;">
            A good understanding of working with JIRA, SLACK, and ZOOM meetings, etc.
        </li>
        <li>
            I've Understood of working with a team
        </li>
        <li style="color: yellow; background-color: black;">
            This isn't the <strong>FIRST</strong> or <strong>LAST</strong> project that I worked on, <br> I've worked on
            different projects Like my <strong>FYP (Python Django Based)</strong> a blog type project, few
            <strong>Ecommerce</strong> projects. Followed different courses form YOUTUBE, Udemy and some from others
            resources or as per seniors Guidance, built projects accordingly <strong>MORE</strong> we can discuss in
            <strong>INTERVIEW</strong>, Thanks, and Regards
        </li>
    </div>

</div>

<div style="background-color: black; color: cornsilk;" class="alert alert-outline-info">
    How's this <strong>Blog Project</strong> was made
</div>
<div class="alert alert-success" role="alert">
    Link to <div><a class="btn btn-primary" href="https://github.com/codepyth/waseem-blog.git">Project Code</a></div>
</div>
<div class="alert alert-secondary" role="alert">
    Created By understanding>
</div>
<div class="alert alert-success" role="alert">
    Learning>
</div>
<div class="alert alert-danger" role="alert">
    Practicing>
</div>
<div class="alert alert-warning" role="alert">
    Dedication>
</div>
<div class="alert alert-info" role="alert">
    Following>
</div>
<div class="alert alert-dark" role="alert">
    a YouTube series.
</div>



{% endblock %}